{% load blog_post %}
<!DOCTYPE html>
<html>
  <head>
  <meta name="" charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
  {% total_post %}
  {{post.title}}<br>
  {{post.body}}<br>
  {{post.status}}<br>
  {{post.author}}<br>
  {{post.tags.all}}


<h3> Similar Post </h3>
{% for post in similar_posts %}
<a href="{{post.get_absolute_url}}" > {% csrf_token %} </a>
      {{emailform.as_p}}
      <input type="submit" value="Send Email"> 
      <h3>Comment</h3>
  </form>
  <a href="{% url "myblog:commentview" post.pk %}">Write a comment</a>
  </body>
</html>
